
/* Google fonts: 
All text
font-family: 'Cabin', sans-serif;
Title text
font-family: 'Pacifico', cursive; */
p{
    font-size: larger;
    font-family: 'Cabin', sans-serif;
}
h1{
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    background-color: rgba(57, 85, 63, 0.753);
    margin-bottom: 0;
    padding: 20px;
} 
h2{ 
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;                  
}   
h4{
   font-family: 'Pacifico', cursive;
}                 
li{
  font-family: 'Cabin', sans-serif;
  display: block;
  font-size: 20px;
}
a{
  font-family: 'Cabin', sans-serif;
  font-size:17px;
  font-weight: bold;
  color: rgb(0, 65, 0);
}
a:hover {
  color: rgb(70, 143, 75);
  font-size: 21px;
}
body{
  background-image: url('../Images/bigbearlakesunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.box{
  background-color: rgba(57, 85, 63, 0.753);
  text-align: center;
  font-size: 17px;
  padding: 25px;
  margin-top: 50px;
}
.container {
  margin-top: 15px;
  height: 650px;
}
#borderAdj{
  padding-bottom: 60px;
}
.card {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}
.cardContainer{
  padding: 30px;
  opacity: 0.90;
  background-color: rgba(57, 85, 63, 0.753);
  border-radius: 10px;
  background-image: url('./../images/WoodPaperBackground.jpg');
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
}
.top-right-card {
  padding: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(187, 212, 187);
  color: whitesmoke;
  text-align: center;
  opacity: 0.8;
}
.contact-form {
  font-family: "Barlow Condensed";
  color: whitesmoke;
  background-color: rgba(57, 85, 63, 0.753);
  padding: 40px;
}
.aboutmetext .col-md-6 {
  background-color: rgba(57, 85, 63, 0.753);
}
.navbar{
  opacity: .8;
}
@media screen and (min-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
}
/* Landing Page */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light+Two');
 * {
	 box-sizing: border-box;
}
 html, body {
	 margin: 0;
	 font-family: "Nunito", sans-serif;
}
 .wrapper .parallax-container {
	 display: flex;
	 align-items: stretch;
	 min-height: 100vh;
	 overflow: hidden;
	 position: relative;
	 cursor: pointer;
}
 .wrapper .parallax-container .parallax {
	 flex: 1 1 auto;
	 background-image: url("https://i.pinimg.com/originals/e0/57/44/e05744161d7500a183d5ec3a38a6e626.jpg");
	 background-size: cover;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 width: 120%;
	 height: 120%;
	 top: -10%;
	 left: -10%;
	 right: -10%;
	 bottom: -10%;
	 color: #dcdcdc;
	 text-align: center;
}
 .wrapper .parallax-container .parallax h1 {
	 font-size: 6rem;
	 line-height: 6.75rem;
	 font-family: 'Permanent Marker', cursive;
	 letter-spacing: 3px;
	 margin: 0;
}
 .wrapper .parallax-container .parallax .line {
	 border-style: solid;
	 border-width: 0.05rem;
	 margin: 0.5rem 0;
}
 .wrapper .parallax-container .parallax span {
	 font-family: 'Shadows Into Light Two', cursive;
	 font-weight: bold;
	 letter-spacing: 1px;
}
 .wrapper .text-container {
	 padding: 10vh 10vw;
	 text-align: center;
}
 .wrapper .text-container .text-block h5 {
	 font-size: 2.5rem;
	 margin: 0;
}