//Landing Page Background
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light+Two');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.wrapper {
  .parallax-container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    .parallax {
      flex: 1 1 auto;
      background-image: url("https://chromemusic.de/wp-content/uploads/2017/01/bFDmgDE-Imgur.gif");
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 120%;
      height: 120%;
      top: -10%;
      left: -10%;
      right: -10%;
      bottom: -10%;
      color: #dcdcdc;
      text-align: center;
      h1 {
        font-size: 6rem;
        line-height: 6.75rem;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: 3px;
        margin: 0;
      }
      .line{
        border-style: solid;
        border-width: .05rem;
        margin: .5rem 0;
      }
      span{
        font-family: 'Shadows Into Light Two', cursive;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
  .text-container {
    padding: 10vh 10vw;
    text-align: center;
    .text-block {
      h5 {
        font-size: 2.5rem;
        margin: 0;
      }
    }
  }
}

// Landing Page Logo Area
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400);

$main: #212121;
$accent: #bdbdbd;


@keyframes openTopLine {
  0% {
    width: 0;
    transform: translateY(5em);
  }
  50% {
    width: 27em;
    transform: translateY(5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}

@keyframes openBottomLine {
  0% {
    width: 0;
    transform: translateY(-5em);
  }
  50% {
    width: 27em;
    transform: translateY(-5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}

@keyframes slideContent {
  0%, 30% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  font-size: 1.1em;
  font-family: "Roboto Slab";
  text-align: center;
  color: $accent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .line {
    height: 1px;
    background: $accent;
    display: inline-block;
    width: 27em;
    
    &.topLine {
      animation: openTopLine 1.5s;
    }
    
    &.bottomLine {
      animation: openBottomLine 1.5s;
    }
  }

  .content {
    animation: slideContent 1s;
    animation-fill-mode: backwards;
    animation-delay: 1.25s;

    .vintage {
      font-weight: 400;
      font-size: 2em;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px $main, 2px 2px 0px $accent;
      letter-spacing: 4px;
    }

    .since {
      font-weight: 100;
      margin: 0.25em auto 0.5em;
    }

    .desc {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-style: italic;
    }

    .skillz {
      font-size: 1.2em;
      margin-top: 0.25em;
      font-weight: 400;
      letter-spacing: 1px;
    }

    .links {
      a {
        display: inline-block;
        color: $accent;
        font-size: 1.25em;
        margin: 0.25em 0.2em 0;
        transition: color 0.1s;
        cursor: pointer;
        transition: color 0.15s;
        animation: slideContent 1s;
        animation-fill-mode: backwards;

        $i: 1;
        $delay: 2;
        @while $i < 6 {
          &:nth-of-type(#{$i}n) {
            animation-delay: #{$delay}s;
            $i: $i + 1;
            $delay: $delay + 0.25;
          }
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}
#viewProfileBtn{
   
    color: $accent;
    border: none;
    font-family: "Roboto Slab";
}